@mixin font($size, $font, $color:$color-font-dark) {
    font-size: $size;
    font-family: $font;
    color: $color;
}

@mixin flex ( $justify-content:center, $align-items:center,$flex-direction:row, $flex-wrap:nowrap, $display:flex) {
    display: $display;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}