
// color 
$primary-1:#2500f9;
$primary-1-light:#f5f7fa;
$primary-2:#feaa25;
$primary-2-light: #fcae61;
$primary-3: #ffecef;
$primary-4: #eaf9ff;
$primary-5: #fff6d3;
$primary-6: #e4ffee;
$primary-7: #f4f4ff;
$primary-8: #fdeee4;
$light:#ffffff;

$color-font-dark: #242f51;
$color-font-light: #616368;

// fonts

$font-bold:'Poppins-Bold';
$font-regular:'Poppins-Regular';
$font-medium:'Poppins-Medium';
$font-semibold:'Poppins-SemiBold';
