.box-faq{
    margin-bottom: 50px;
}

.accordion-container{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 70%;

    .accordion{
        @include font(20px, $font-medium, $color-font-dark);
        text-align: left;
        display: flex;
        align-items: center;
        padding-left: 50px;
        background-color: $primary-1-light;
        border: none;
        min-height: 58px;
        margin-top: 10px;
        position: relative;
        outline: none;
        &::after{
            content: '+';
            position: absolute;
            top: 10%;
            right: 10px;
            font-size: 30px;
            color: $color-font-dark;
            transition: .2s;
        }
        &.open{
            font-family: $font-semibold;

        }
        &.open::after{
            opacity: 0;
        }
    }
    .panel{
        padding-left: 50px;
        padding-right: 90px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color:  $primary-1-light;
        &.open{
            display: block;
            padding-bottom: 40px;
        }
    }
}


@media (max-width: $screen-medium){
    .box-faq{
        .title-box{
            margin-top: 50px;
        }
    }
    .accordion-container{
        width: 100%;
        .accordion{
            padding-left: 25px;
            padding-right: 25px;
        }
        .panel{
            padding-left: 25px;
            padding-right: 25px;
            &.open{
                padding-bottom: 20px;
            }
        }
    }
}
