.box-advantages{
    padding: 10px 80px;
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .plus{
            max-width: 33%;
            box-sizing: border-box;
            text-align: center;
            padding:35px;
            transition: .4s;
            &:hover{
               transform: scale(1.1);
               transition: .4s;
            }
            .box-img{
                margin: 0 auto; 
                width: 90px;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;                
                border-radius: 100%;
                .image-card{
                    width: 60%;
                }
            }
        }
    }
}

.cards {
    .plus{
        &:first-of-type .box-img{
            background-color: $primary-3;
        }
        &:nth-of-type(2) .box-img{
            background-color: $primary-4;
        }
        &:nth-of-type(3) .box-img{
            background-color: $primary-5;
        }
        &:nth-of-type(4) .box-img{
            background-color: $primary-6;
        }
        &:nth-of-type(5) .box-img{
            background-color: $primary-7;
        }
        &:last-of-type .box-img{
            background-color: $primary-8;
        }
    }
}

@media (max-width: 991px){
    .box-advantages{
        padding: 10px 20px;
        .title-box{
            margin-top: 50px;
            .advantages-title{
                font-size: 30px;
            }
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .plus{
                max-width: 50%;
                padding:20px;
                .box-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;                
                    border-radius: 100%;
                    .image-card{
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    .box-advantages{
        .cards{
            .plus{
                max-width: 100%;
                .box-img{
                width: 120px;
                height: 120px;
                }
            }
        }
    }
}